Outreach - Send Email.json
{
  "name": "Outreach - Send Email",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "sepehrjokanian99@gmail.com",
        "toEmail": "={{ $json.body.to_email }}",
        "subject": "={{ $json.body.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.body.email_body }}",
        "options": {
          "replyTo": "sepehrjokanian99@gmail.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2224,
        0
      ],
      "id": "00ccb8d7-b45f-4b59-bca4-00fa116f704a",
      "name": "Send an Email",
      "webhookId": "2dd17ae2-38d9-480e-a147-e307d3b6cfa7",
      "credentials": {
        "smtp": {
          "id": "ZjYE4QqdcKaV1lk9",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2016,
        0
      ],
      "id": "49f3752c-07fe-4b4b-8dde-ed9d455d2267",
      "name": "Send Email Webhook",
      "webhookId": "0c50d7af-52d0-4b27-a9d5-5a904bb70edb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbwVW71hy8JtfhSfH7uGxbqCOidDZGQ_8Wqo8KcGVkguJp75Skc0KGiGi2xCXo0HHH7u/exec",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "company",
              "value": "={{ $('Send Email Webhook').item.json.body.company }}"
            },
            {
              "name": "contact_name",
              "value": "={{ $('Send Email Webhook').item.json.body.contact_name }}"
            },
            {
              "name": "contact_email",
              "value": "={{ $('Send Email Webhook').item.json.body.to_email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2432,
        0
      ],
      "id": "58e5c714-240c-430b-a037-9b2a2fcaa893",
      "name": "Log Sent 2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Email sent successfully\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2640,
        0
      ],
      "id": "b57ca268-2d07-4eb4-af9a-fb9c387a65fb",
      "name": "Respond Success"
    }
  ],
  "pinData": {},
  "connections": {
    "Send Email Webhook": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Log Sent 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sent 2": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "221f5825-47cf-4e54-b6fa-4826857a7327",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2564247207ead1448da1929b90dbca73f34c806aef60f59c655405a7f6ea078"
  },
  "nodeGroups": [],
  "id": "UyfZHlFmwCCFdiAY",
  "tags": []
}
