Outreach - Generate Draft.json
{
  "name": "Outreach - Generate Draft",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        800,
        288
      ],
      "id": "db36dc89-bad9-4c06-a1d8-fca125dc2297",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jmjca3Gf8udFKKAV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e67103d7-6410-499c-bf02-b3f5b2006c56",
              "name": "email_draft",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "2a5b71e1-92a2-4aa2-a555-fe30bc901cf8",
              "name": "for_company",
              "value": "={{ $('Lead Data').item.json.company_name }}",
              "type": "string"
            },
            {
              "id": "281ffae4-85cb-4394-9547-908e039fbb51",
              "name": "subject_line",
              "value": "={{ $json.output.match(/SUBJECT:\\s*(.+)/)?.[1]?.trim() || '' }}",
              "type": "string"
            },
            {
              "id": "4eb9764a-9b2c-4439-a14b-2af016f92af4",
              "name": "email_body",
              "value": "={{ $json.output\n  .replace(/SUBJECT:.*\\n+/, '')\n  .replace(/---[\\s\\S]*$/, '')\n  .replace(/\\*\\*/g, '')\n  .replace(/\\*/g, '')\n  .replace(/#{1,6}\\s/g, '')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim() }}",
              "type": "string"
            },
            {
              "id": "fo-c1",
              "name": "contact_email",
              "value": "={{ $('Lead Data').item.json.contact_email }}",
              "type": "string"
            },
            {
              "id": "fo-c2",
              "name": "contact_name",
              "value": "={{ $('Lead Data').item.json.contact_name }}",
              "type": "string"
            },
            {
              "id": "fo-c3",
              "name": "contact_role",
              "value": "={{ $('Lead Data').item.json.contact_role }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        -32
      ],
      "id": "9c9fdcb5-3636-48de-94af-e801b0ef02c2",
      "name": "Format Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96358c29-9dff-46a5-ad0a-4940da012b34",
              "name": "company_name",
              "value": "={{ $json.body['Company Name'] }}",
              "type": "string"
            },
            {
              "id": "9f07314c-22ca-4303-af12-d1d157e1d7c8",
              "name": "website",
              "value": "={{ $json.body['Website URL'].trim().startsWith('http') ? $json.body['Website URL'].trim() : 'https://' + $json.body['Website URL'].trim() }}",
              "type": "string"
            },
            {
              "id": "1ebf1d66-59ed-4869-ac06-f537a41250e8",
              "name": "contact_name",
              "value": "={{ $json.body['Contact Name'] }}",
              "type": "string"
            },
            {
              "id": "f7f941be-41e6-4f8c-b1cc-123699c4c57a",
              "name": "contact_role",
              "value": "={{ $json.body['Contact Role'] }}",
              "type": "string"
            },
            {
              "id": "a8a444c2-0b93-4b44-bed1-ca872478ce25",
              "name": "contact_email",
              "value": "={{ $json.body['Contact Email'] }}",
              "type": "string"
            },
            {
              "id": "60a0adc0-e97e-49a5-a537-11c3ad1acd65",
              "name": "my_profile",
              "value": "Name: Sepehr Jokanian. Location: Yerevan, Armenia. Website: https://sep-web.pages.dev. Email: sepehrjokanian99@gmail.com. Services: full stack web development with React, Next.js, Node.js, PostgreSQL. Figma to production deployment. Landing pages, dashboards, MVPs, web apps. AI integrations with BSc in Artificial Intelligence. White-label development for agencies. Positioning: based in Yerevan, same timezone, fixed scope fixed price, fast delivery in 3 to 5 days, direct communication, white-label by default. Target clients: digital agencies needing dev overflow, creative studios that design but need someone to build, IT companies with web-layer work.",
              "type": "string"
            },
            {
              "id": "914cc14e-94f4-4c65-a229-52af11e07c43",
              "name": "best_email_1",
              "value": "Subject: Dev support for your Yerevan client work  Hi Hovig,  Saw the Nova Hotel project on Behance, the way the layout holds together across every touchpoint is the kind of attention to detail that's hard to build for if your developer doesn't understand the design intent. I'm Sepehr, a full-stack developer based here in Yerevan, working with design studios on a white-label basis, fixed price, clean code, your client never knows I'm involved.  Some of my recent work is at sep-web.pages.dev if you want a quick look. If a build lands on your desk and your team doesn't have the bandwidth, I'd like to be the first email you send.  Best, Sepehr",
              "type": "string"
            },
            {
              "id": "897c07a9-fb22-4380-8776-a63c61d6e45c",
              "name": "best_email_2",
              "value": "Subject: White label dev support — same stack as yours  Hi PRIME IT team,  Came across your Behance, the SeeGuru platform and the Three.js work caught my eye. I'm Sepehr, a full-stack developer based here in Yerevan, and my stack is identical to yours — React, Next.js, Node.js, Three.js, PostgreSQL, Vercel — so there's zero ramp-up time if we work together.  I work with agencies as a white-label build partner, fixed scope, fixed price, working prototype in days, your brand stays on the work. A few examples are up at sep-web.pages.dev, and when your team is stretched on a deadline, I'd like to be the one you email first.  Best, Sepehr",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -16
      ],
      "id": "726bc966-6efa-41a2-baab-3d0cf59e0378",
      "name": "Lead Data"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.website }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -224,
        -16
      ],
      "id": "f7df140a-0ff4-463a-8fe8-0e51907cea33",
      "name": "Fetch Homepage",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "page_title",
              "cssSelector": "title"
            },
            {
              "key": "meta_desc",
              "cssSelector": "meta[name=\"description\"]",
              "returnValue": "attribute",
              "attribute": "content"
            },
            {
              "key": "headings",
              "cssSelector": "h1, h2, h3",
              "returnArray": true
            },
            {
              "key": "paragraphs",
              "cssSelector": "p, li",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        0,
        -64
      ],
      "id": "18e0a35c-0241-4f7c-a007-0cafc093c0df",
      "name": "Extract Page Text"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json.data || '';\nconst text = String(body).replace(/[\\t ]+/g, ' ').trim();\nreturn [{ json: { site_text: text.slice(0, 8000), text_length: text.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -48
      ],
      "id": "2e0149b9-db38-4e7c-afb9-4ec4633f4e67",
      "name": "Build Research Text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a8833edb-daa6-45bf-9399-69ea7f36a211",
              "leftValue": "={{ $json.text_length }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        -16
      ],
      "id": "523abe11-218f-4a49-9f24-4e698b5d67fd",
      "name": "Scrape OK?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company: {{ $('Lead Data').item.json.company_name }}\nWebsite: {{ $('Lead Data').item.json.website }}\n\nScraped website content:\n{{ $json.site_text }}\n",
        "options": {
          "systemMessage": "=You are a B2B research analyst working for Sepehr Jokanian.\n\nABOUT SEPEHR:\n{{ $('Lead Data').item.json.my_profile }}\n\nAnalyze the scraped website content and produce research for a cold outreach email.\nBase everything ONLY on the scraped content and company name. Do not invent projects,\nclients, or awards that are not mentioned in the content.\n\nReturn:\nReturn ONLY a valid JSON object, no markdown, no code fences, exactly:\n{\"what_they_do\": \"...\", \"why_they_fit\": \"...\", \"specific_hook\": \"...\"}\n\nField rules:\n- what_they_do: 2-4 sentences. Company type, services, who their clients are, team signals.\n- why_they_fit: 2-3 sentences. The single strongest reason they might need Sepehr's services.\n- specific_hook: One concrete detail from their website (project, client, service page, or claim) the email should open with. Name it specifically. If content is too thin, say so honestly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        -32
      ],
      "id": "df9cb83e-5a60-4b8a-8edc-4cbea6cf8e9b",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please write an outreach email for this company:\n\nCompany: {{ $('Lead Data').item.json.company_name }}\nWebsite: {{ $('Lead Data').item.json.website }}\nContact name: {{ $('Lead Data').item.json.contact_name }}\nContact role: {{ $('Lead Data').item.json.contact_role }}\nContact email: {{ $('Lead Data').item.json.contact_email }}\n\nWhat this company does: {{ $('Parse Research').item.json.output.what_they_do }}\n\nWhy they are a fit for Sepehr: {{ $('Parse Research').item.json.output.why_they_fit }}\n\nSpecific hook to use in the opening: {{ $('Parse Research').item.json.output.specific_hook }}\n",
        "options": {
          "systemMessage": "=You are an outreach email writer working on behalf of Sepehr Jokanian, a full-stack developer based in Yerevan, Armenia.\n\nYOUR TASK\n\nGiven information about one company, write one highly personalised cold outreach email that Sepehr will review before sending.\n\nABOUT SEPEHR\n\n{{ $('Lead Data').item.json.my_profile }}\n\nEXAMPLE EMAIL 1 — use this as a style reference:\n\n{{ $('Lead Data').item.json.best_email_1 }}\n\nEXAMPLE EMAIL 2 — use this as a style reference:\n\n{{ $('Lead Data').item.json.best_email_2 }}\n\nSTEP 1 — ANALYSE BEFORE WRITING\n\nBefore writing, silently determine:\n\n• What type of company this is\n\n• The single strongest reason they might work with Sepehr\n\n• Which one service is most relevant for them\n\n• Whether there is a genuine reason to contact them\n\n• Who is most likely reading the email (founder, manager, recruiter, agency owner, technical lead, business development lead, etc.)\n\nIf there is no strong fit, lower the fit score and write a more cautious email rather than forcing a sales pitch.\n\nSTEP 2 — WRITE THE EMAIL\n\nThe goal is not to sell.\n\nThe goal is to start a natural business conversation.\n\nWrite the email as if Sepehr personally spent 10 minutes reviewing the company and decided to send one individual message.\n\nThe recipient should never feel they are part of a mass outreach campaign.\n\nRULES\n\n1. Open with a specific observation about the company, such as a project, case study, client, technology, portfolio item, article, achievement, service, or recent work.\n\n2. Prefer opening with a specific observation about the company rather than talking about yourself.\n\n3. Avoid generic compliments such as:\n   \"I love your work\"\n   \"Your portfolio is impressive\"\n   \"You have an amazing company\"\n\n4. Write naturally. The email should sound like a developer reaching out to another professional.\n\n5. Use \"I'm Sepehr\" and never \"My name is Sepehr\".\n\n6. Keep the email body between 80 and 130 words. Shorter is usually better.\n\n7. No bullet points or lists inside the email body.\n\n8. Mention that Sepehr is based in Yerevan. This is always relevant and helps establish local context.\n\n9. Describe only the single most relevant service for this company. Do not list every service Sepehr offers.\n\n10. Mention fixed scope and fixed price in every email.\n\n11. Mention white-label work or fast delivery when they fit naturally with the company type.\n\n12. Mention the website only ONCE, written as plain text without https:// , like this: sep-web.pages.dev\n\n13. Focus on why Sepehr is contacting this specific company rather than describing everything Sepehr can do.\n\n14. Use plain language and relatively short sentences.\n\n15. Do not sound like a sales representative, recruiter, agency owner, consultant, or automated outreach system.\n\n16. Do not use these words or phrases:\n\nleverage\n\nsynergy\n\nexcited\n\nthrilled\n\npassionate\n\ntouch base\n\ncircle back\n\nstreamline\n\ninnovative\n\ndigital offerings\n\nscale your\n\ntechnical execution\n\ncreative vision\n\nhigh-end\n\npixel-perfect\n\noffer a hand\n\nwanted to offer\n\nlocal partner\n\nindustry-leading\n\ncutting-edge\n\ngame-changing\nfree, guarantee, offer, deal, click here, buy, limited, act now, opportunity, don't miss, risk-free, 100%\n\n17. The closing must be one sentence, low pressure, human, and easy to ignore if the timing is not right.\n\n18. The email should feel like something Sepehr would genuinely send after spending 10 minutes researching the company. If any sentence feels like a template that could be sent to 100 companies, rewrite it to be more specific.\n\n19. The subject line must:\n\n• Be specific to the company\n\n• Be under 8 words\n\n• Contain no emojis\n\n• Avoid generic phrases such as:\n\"Quick Question\"\n\"Partnership Opportunity\"\n\"Business Proposal\"\n\"Collaboration\"\n20. Do not use any exclamation marks anywhere in the email.\n21. Use the contact's first name once near the top if a contact name is provided.\n22. Use only one link in the entire email. Never repeat links or add tracking text.\n23. Keep total length under 120 words and sound like a normal personal email between two people.\n24. End the email with a short, natural two-line sign-off: a single closing\n    word (\"Best,\" or \"Thanks,\" or similar) on its own line, then \"Sepehr\"\n    on the next line. No job title, no location, no website on these lines.\n25. Write in two paragraphs only. No more than two.\n26. First paragraph: one specific observation about \n    the company, then who Sepehr is. Three sentences \n    maximum.\n27. Second paragraph: what Sepehr offers that fits \n    this specific company, plus the closing line. \n    Three sentences maximum.\n28. One blank line between the two paragraphs. \n    No blank lines inside a paragraph.\n29. No formatting, no dashes used as separators, \n    no asterisks, no markdown of any kind.\n30. The email must read as if typed directly in \n    Gmail. Not structured. Not composed. Just written.\n31. Never start a sentence with \"I\" as the first \n    word of the email. The first word must be the \n    company name or a reference to their work.\n32. The output must be pure plain text with no \n    formatting of any kind. No asterisks, no dashes \n    used as decorative separators, no angle brackets, \n    no HTML tags, no markdown, no bold, no italics.\n33. Write two short paragraphs separated by one \n    blank line. Nothing else. No subject line \n    formatting beyond \"SUBJECT: \" at the top.\n34.Open with a one-line greeting: \"Dear [First Name],\" or \"Hi [First Name],\"\nif a contact name was provided. If no contact name exists, skip the\ngreeting and start directly with the first paragraph.\n35.The closing line must invite a reply by email only. Never reference a\nphone call, meeting, or \"hopping on a call.\" Use phrasing like \"happy to\nshare more if useful\" or \"let me know if this is worth a look.\"\n\n\n\n\nOUTPUT FORMAT\n\nReturn exactly this structure and nothing else.\n\nSUBJECT: [subject line, max 8 words]\n\n[greeting line, or omit if no contact name]\n\n[paragraph one]\n\n[paragraph two]\n\n[one-word closing,]\nSepehr"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1280,
        -32
      ],
      "id": "a1d06397-1fd9-4550-8a1c-4972f7a3dbb7",
      "name": "Email Writer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbwVW71hy8JtfhSfH7uGxbqCOidDZGQ_8Wqo8KcGVkguJp75Skc0KGiGi2xCXo0HHH7u/exec",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "company",
              "value": "={{ $('Lead Data').item.json.company_name }}"
            },
            {
              "name": "contact_email",
              "value": "={{ $('Lead Data').item.json.contact_email }}"
            },
            {
              "name": "status",
              "value": "Needs manual research"
            },
            {
              "name": "notes",
              "value": "={{ ($json.text_length !== undefined && $json.text_length < 500) ? ('Scrape failed or too little content (' + ($json.text_length || 0) + ' chars)') : 'Research JSON was empty or invalid — Gemini returned unusable output' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        496
      ],
      "id": "2f0ecf55-80a3-4e86-96e3-007424c9c337",
      "name": "Log Manual Research"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || '';\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\nlet parsed = { what_they_do: '', why_they_fit: '', specific_hook: '' };\ntry { parsed = JSON.parse(match ? match[0] : raw); } catch (e) {}\nreturn [{ json: { output: parsed } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -32
      ],
      "id": "3962cb35-21d7-42f2-8d87-7bbf22e0d568",
      "name": "Parse Research"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea86334a-4f10-409b-8e90-9a4fbf1285ac",
              "leftValue": "={{ $json.output.specific_hook }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        -32
      ],
      "id": "83e6b3dd-914e-4007-8385-ade28404b1cf",
      "name": "Research Valid?"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        -96
      ],
      "id": "abb84060-1b6b-4e43-9610-723b424c61c9",
      "name": "Webhook",
      "webhookId": "a9a91aee-0904-4f50-9180-cdbe35ef734e"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1744,
        -32
      ],
      "id": "30b1aee0-2b0c-4c45-a84d-7b92713f5886",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ser-01",
              "name": "error",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "ser-02",
              "name": "message",
              "value": "Could not generate an email draft. The company website may have blocked scraping, returned too little content, or Gemini returned unusable output. Please try again or check the URL.",
              "type": "string"
            },
            {
              "id": "ser-03",
              "name": "email_body",
              "value": "",
              "type": "string"
            },
            {
              "id": "ser-04",
              "name": "subject_line",
              "value": "",
              "type": "string"
            },
            {
              "id": "ser-05",
              "name": "for_company",
              "value": "={{ $('Lead Data').item.json.company_name }}",
              "type": "string"
            },
            {
              "id": "ser-06",
              "name": "contact_email",
              "value": "",
              "type": "string"
            },
            {
              "id": "ser-07",
              "name": "contact_name",
              "value": "",
              "type": "string"
            },
            {
              "id": "ser-08",
              "name": "contact_role",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        496
      ],
      "id": "set-error-response-001",
      "name": "Set Error Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Writer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Data": {
      "main": [
        [
          {
            "node": "Fetch Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Homepage": {
      "main": [
        [
          {
            "node": "Extract Page Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Manual Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Research Text": {
      "main": [
        [
          {
            "node": "Scrape OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape OK?": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Manual Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Writer": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Page Text": {
      "main": [
        [
          {
            "node": "Build Research Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Parse Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Research": {
      "main": [
        [
          {
            "node": "Research Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Valid?": {
      "main": [
        [
          {
            "node": "Email Writer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Manual Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Manual Research": {
      "main": [
        [
          {
            "node": "Set Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e9788dbc-340e-4d0a-a02a-cd0c4c245b63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2564247207ead1448da1929b90dbca73f34c806aef60f59c655405a7f6ea078"
  },
  "nodeGroups": [],
  "id": "ZNHzfmNoJZJrsP7f",
  "tags": []
}
